@{
    ViewData["Title"] = "Aviso remoção do Cliente";
}


<div class="text-center">
    <h3>Deseja Realmente apagar o (dinamico)?</h3>
</div>
<a role="button" class="btn btn-primary" asp-controller="Cliente" asp-action="Index">Cancelar</a>
<a role="button" class="btn btn-danger">Confirmar</a>


<div class="text-center">
    <h3>Exclusão realizada com sucesso</h3>
</div>